.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; 
}


.menu_pizza {
    display: flex;
    justify-content: space-between;

}

.card {
    margin: 0 25px;
    display: flex;
    flex-wrap: wrap;
   /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
    */
}


.card_label {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
    
}